body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #0f1111;
    background-color: #f1f3f6;
}

.py-20 {
    padding: 20px 0;
}

.navbar {
    background-color: #131921;
}

.navbar .navbar-brand {
    width: 128px;
}

.navbar .navbar-brand img {
    max-width: 100%;
    height: auto;
}

.navbar form .btn {
    background-color: #FF9900;
    color: #131921;
}

.navbar form .form-control {
    border-color: #ffffff;
    font-size: 14px;
}

.navbar form .form-control:focus {
    border-color: #FF9900;
}

.navbar .navbar-toggler-icon {
    color: #ffffff;
}

.categories {
    padding: 12px 0;
    color: #232f3e;
}

.card-img {
    width: 64px;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.slider .swiper-slide {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slider .swiper-slide:nth-child(1) {
    background-image: url("../images/d117a62eb5fbb8e1.jpg");
}

.slider .swiper-slide:nth-child(2) {
    background-image: url("../images/57267a180af306fe.jpg");
}

.slider .swiper-slide:nth-child(3) {
    background-image: url("../images/ae9966569097a8b7.jpg");
}

.slider .swiper-slide:nth-child(4) {
    background-image: url("../images/f6202f13b6f89b03.jpg");
}

.products .card-header h2 {
    font-size: 22px;
    line-height: 32px;
}

.products .card-header .btn {
    background-color: #FF9900;
    color: #0f1111;
}

.products .card-body .card {
    align-items: center;
}

.products .card-body .product-img {
    width: 150px;
    height: 150px;
}

.products .card-body .card-title {
    font-size: 14px;
    line-height: 20px;
    color: #0f1111;
}

.products .card-body .discount {
    color: #007600;
}

.products .card-body .tag {
    opacity: 0.6;
    color: #0f1111;
}

.ad .ad-img {
    height: 150px;
    background-image: url("../images/4789bc3aefd54494.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login .card-body {
    padding: 20px 26px;
}

.login .card-title {
    font-size: 28px;
}

.login .form-control:focus {
    border-color: #FF9900;
}

.login .form-btn {
    background-color: #FF9900;
}

.login .account-btn {
    font-size: 14px;
}

.login .new {
    position: relative;
}

.login .new::after,
.login .new::before {
    position: absolute;
    content: "";
    top: 50%;
    width: 35%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

.login .new::after {
    right: 0;
}

.login .new::before {
    left: 0;
}

.login .validate {
    color: #c40000;
    font-size: 12px;
}

@media (min-width: 576px) {
    .slider .swiper-slide {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .slider .swiper-slide {
        height: 270px;
    }
}

@media (min-width: 992px) {
    .slider .swiper-slide {
        height: 280px;
    }

    .ad .ad-img {
        height: 215px;
    }
}